/* Etheling */

:root {
  --main-color: #009FD9;
  --fg-color: #333;
}

body {
	display: grid;
 	grid-template-columns: 1fr 4fr;
 	grid-template-rows: 4em 1fr;
 	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
 	color: var(--fg-color);
	background-color: #EEF4F9;
	font-size: 14px;
}

body > header {
	background-color: var(--main-color);
 	display: grid;
 	grid-template-columns: auto 1fr;
 	grid-template-rows: 1fr;
	align-items: center;
}

body > header > nav {
	color: white;
  position: relative;
  display: inline-block;
	text-align: center;
	padding-left: 1.5em;
}

body > header > nav > nav {
	color: var(--fg-color);
  display: none;
  position: absolute;
	background-color: #D9D9D9;
  min-width: 21em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

body > header > nav:hover > nav {
  display: block;
	list-style-type: none;
	padding-left: 0;
	padding-right: 0;
	color: var(--fg-color);
	margin: 0;
	text-align: start;
}

body > header > nav:hover > nav > details {
	cursor: pointer;
	margin: 0;
}

body > header > nav:hover > nav > details > summary {
	list-style: none;
	padding-left: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

body > header > nav:hover > nav > details > ul {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
	color: var(--fg-color);
}

body > header > nav:hover > nav > details > ul > li {
	margin: 0;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	background-color: white;
}

body > header > nav:hover > nav > details > ul > li:hover {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	background-color: var(--main-color);
	color: white;
}


body > header > nav:hover > nav > details > ul > li > a {
	color: var(--fg-color);
	text-decoration: none;
}

body > header > nav:hover > nav > details > ul > li:hover > a {
	color: white;
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
}

body > header > a {
 	display: block;
 	text-align: center;
}


nav.top-nav {
	font-size: 16px;
	background-color: white;
 	display: flex;
 	align-items: center;
 	justify-content: space-between;
}

nav.top-nav > div {
	display: flex;
 	color: white;
}

nav.top-nav > div > form {
	padding: 1em;
}


nav.top-nav > div > form > input {
	background-color: var(--main-color);
	color: white;
 	border: 0;
 	padding: 5px 10px;
 	margin: 0;
        line-height: 24px;
}

nav.top-nav > div > form > button {
	border: 0;
 	background-color: var(--main-color);
 	padding: 5px 10px;
 	margin: 0;
        line-height: 24px;
}

body > main {
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 1em;
	background-color: white;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 2em;
	padding-bottom: 2em;
	grid-column: 1 / -1;
	font-size: 12px;
}

table {
  border-collapse: collapse;
  border-color: silver;
  border-style: solid;
  border-spacing: 0;
  background: white;
	margin-top: 2em;
	border-width: thin;
}

table caption {
	padding-bottom: 0.5em;
}

table th {
  border-color: silver;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-style: solid;
	border-width: thin;
}

table td {
  border-color: silver;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-style: solid;
	border-width: thin;
}

table.sticky {
  position: relative;
}

table.sticky th {
  position: sticky;
  top: 0;
  background: white;
}

a:link, a:visited {
	color: var(--main-color);
	text-decoration: none;
	transition: background-color 230ms ease, color 230ms ease;
}

a:hover {
	color: #337AB7;
	text-decoration: underline;
}


fieldset {
	border-right: none;
	border-left: none;
	border-width: thin;
	display: inline-grid;
	grid-template-columns: auto auto;
	column-gap: 1em;
	justify-items: left;
	grid-row-gap: 0.5em;
	margin-bottom: 1em;
	padding-bottom: 1em;
}

fieldset > fieldset {
	grid-column: 1 / -1;
}
	

legend {
	font-weight: 700;
	color: #999;
	text-transform: uppercase;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

input[type = submit] {
	color: white;
	padding: 5px 10px;
	border: 0;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	background-color: var(--main-color);
	transition: background-color 230ms ease, color 230ms ease;
}

input[type = submit]:hover {
	background-color: #008EC2;
}


.global {
	color: red;
	font-weight: bold;
}
