/* Etheling */

table.etheling {
  border-collapse: separate;
  border-color: silver;
  border-style: solid;
  border-width: thin;
  background: white;
}

table.etheling th {
  border-color: silver;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-style: solid;
  border-width: thin;
}

table.etheling td {
  border-color: silver;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-style: solid;
  border-width: thin;
}

table.etheling_sticky {
  position: relative;
}

table.etheling_sticky th {
  position: sticky;
  top: 0;
  background: white;
}

body {
    background-color: #EEF4F9;
    color: #333;
    font-size: 14px;
    position: relative;
}

.global {
	color: red;
	font-weight: bold;
}
