{% extends "base.html" %}

{% block content %}
	<table class="table">
		<caption>
			<a href="/downloads">Downloads</a> |
			<a href="/report_runs">Runs</a>
		</caption>
		<thead>
			<tr>
				<th>Core Reports</th>
				<th>Supplies</th>
				<th>Sites</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Snapshot</th>
				<td><a href="/e/csv_supplies_snapshot" title="Download">Download</a></td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>HH Data</th>
				<td><a href="/e/csv_supplies_hh_data">Download</a></td>
				<td><a href="/e/csv_sites_hh_data">Download</a></td>
			</tr>
			<tr>
				<th>TRIAD</th>
				<td><a href="/e/csv_supplies_triad">Download</a></td>
				<td><a href="/e/csv_sites_triad">Displaced</a></td>
			</tr>
			<tr>
				<th>CRC</th>
				<td><a href="/e/csv_crc">Download</a></td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>DNO / Supplier Contacts</th>
				<td><a href="/reports/supply_contacts">Download</a></td>
			</tr>
			<tr>
				<th>Register Reads</th>
				<td><a href="/e/csv_register_reads">Download</a></td>
				<td></td>
			</tr>
			<tr>
				<th><a href="/e/ods_monthly_duration">Monthly Duration</a></th>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th>Duration</th>
				<td><a href="/e/csv_supplies_duration">Download</a></td>
				<td><a href="/e/csv_sites_duration">Download</a></td>
			</tr>
		</tbody>
	</table>
{% endblock %}
