{% extends "base.html" %}

{% block inside_head %}
	<style>
		main section {
			padding: 2em;
		 	background-color: #f5f5f5;
		 	border: 1px solid #e3e3e3;
		 	border-radius: 4px;
		}
		main div {
			display: grid;
		 	grid-template-columns: 1fr 1fr;
		 	grid-template-rows: 15em 1fr 1fr;
		 	grid-gap: 3em;
		}
		main > div > section > form {
			padding-left: 0;
		}
		main > div > section > form > fieldset {
			border: none;
			padding-left: 0;
			margin-left: 0;
		}
	</style>
{% endblock %}

{% block content %}
	<table class="table">
		<caption>
			<a href="/downloads">Downloads</a> |
			<a href="/report_runs">Runs</a>
		</caption>
		<thead>
			<tr>
				<th>Core Reports</th>
				<th>Supplies</th>
				<th>Sites</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Snapshot</th>
				<td><a href="/e/csv_supplies_snapshot" title="Download">Download</a></td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>HH Data</th>
				<td><a href="/e/csv_supplies_hh_data">Download</a></td>
				<td><a href="/e/csv_sites_hh_data">Download</a></td>
			</tr>
			<tr>
				<th>TRIAD</th>
				<td><a href="/e/csv_supplies_triad">Download</a></td>
				<td><a href="/e/csv_sites_triad">Displaced</a></td>
			</tr>
			<tr>
				<th>CRC</th>
				<td><a href="/e/csv_crc">Download</a></td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>DNO / Supplier Contacts</th>
				<td><a href="/reports/supply_contacts">Download</a></td>
			</tr>
			<tr>
				<th>Register Reads</th>
				<td><a href="/e/csv_register_reads">Download</a></td>
				<td></td>
			</tr>
			<tr>
				<th><a href="/e/ods_monthly_duration">Monthly Duration</a></th>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th>Duration</th>
				<td><a href="/e/csv_supplies_duration">Download</a></td>
				<td><a href="/e/csv_sites_duration">Download</a></td>
			</tr>
		</tbody>
	</table>
	<div>
		<section>
			<h4>Site Search</h4>
			<form action="/sites">
				<fieldset>
					<input type="text" name="pattern">
					<br>
					<br>
					<input type="submit" value="Search">
				</fieldset>
			</form>
		</section>

		<section>
			<h4>Supply Search</h4>

			<form action="/supplies">
				<fieldset>
					<input type="text" name="search_pattern">
					<br>
					<br>
					<input type="submit" value="Search">
				</fieldset>
			</form>
		</section>

		<section>
			<table class="table">
				<caption>
					<a href="/downloads">Downloads</a> |
					<a href="/report_runs">Runs</a>
				</caption>
				<thead>
					<tr>
						<th>Core Reports</th>
						<th>Supplies</th>
						<th>Sites</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>Snapshot</th>
						<td><a href="/e/csv_supplies_snapshot" title="Download">Download</a></td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<th>HH Data</th>
						<td><a href="/e/csv_supplies_hh_data">Download</a></td>
						<td><a href="/e/csv_sites_hh_data">Download</a></td>
					</tr>
					<tr>
						<th>TRIAD</th>
						<td><a href="/e/csv_supplies_triad">Download</a></td>
						<td><a href="/e/csv_sites_triad">Displaced</a></td>
					</tr>
					<tr>
						<th>CRC</th>
						<td><a href="/e/csv_crc">Download</a></td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<th>Register Reads</th>
						<td>
							<a href="/e/csv_register_reads">Download</a>
						</td>
						<td></td>
					</tr>
					<tr>
						<th>
							<a
									href="/e/ods_monthly_duration"
									>Monthly Duration</a>
						</th>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th>
							Duration
						</th>
						<td>
							<a href="/e/csv_supplies_duration"
									>Download</a>
						</td>
						<td>
							<a
								href="/csv_sites_duration">Download</a>
						</td>
					</tr>
				</tbody>
			</table>
		</section>


		<section>
			<h4>Contracts</h4>
			<ul>
				<li><a href="/e/dc_contracts">DC</a></li>
				<li><a href="/e/mop_contracts">MOP</a></li>
				<li><a href="/e/supplier_contracts">Supplier</a></li>
				<li><a href="/non_core_contracts">Non-Core</a></li>
			</ul>
		</section>

		<section>
			<h4>Industry Information Links</h4>

			<ul>
				<li><a href="/e/dnos">DNOs</a></li>
			 	<li><a href="/industry_contracts">Industry Rates</a></li>
				<li><a href="/e/participants">Market Participants</a></li>
				<li><a href="/e/parties">Parties</a></li>
				<li><a href="/e/generator_types">Generator Types</a></li>
				<li><a href="/e/meter_payment_types">Meter Payment Types</a></li>
				<li><a href="/e/sscs">SSCs</a></li>
				<li><a href="/e/cops">CoPs</a></li>
				<li><a href="/e/comms">Comms</a></li>
				<li><a href="/e/read_types">Read Types</a></li>
				<li><a href="/e/market_roles">Market Roles</a></li>
				<li><a href="/e/pcs">Profile Classes</a></li>
				<li><a href="/e/mdd_imports">MDD Importer</a></li>
				<li><a href="/e/tprs">TPRs</a></li>
				<li><a href="/e/gsp_groups">GSP Groups</a></li>
				<li><a href="/bill_types">Bill Types</a></li>
				<li><a href="/e/sources">Sources</a></li>
				<li><a href="/e/meter_types">Meter Types</a></li>
				<li><a href="/e/mtcs">Meter Timeswitch Classes</a></li>
			</ul>
		</section>

		<section>
			<h4>For Editor Links</h4>

			<ul>
				<li><a href="/local_reports">Edit Local Reports</a></li>
				<li><a href="/user_roles">Users Roles</a></li>
				<li><a href="/reports/ecoes_comparison" >Comparison against ECOES</a></li>
				<li><a href="/e/asset_comparison" >Comparison against asset data</a></li>
				<li><a href="/api/v1" >API</a></li>
				<li><a href="/users">Users</a></li>
				<li><a href="/system">System</a></li>
				<li><a href="/edi_viewer">EDI Viewer</a></li>
				<li><a href="/e/scenarios">Scenarios</a></li>
				<li><a href="/reports/batches">Batches</a></li>
			</ul>
		</section>
	<div>
{% endblock %}
